body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    width: 100vw;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Slightly stronger shadow for better contrast */
    width: 100%;
    max-width: 500px; /* Limit the width for larger screens */
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="datetime-local"], button, input[type="number"] {
    width: calc(100% - 16px); /* Subtract padding for inner elements */
    padding: 10px; /* Increased padding for better usability */
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px; /* Uniform font size */
    box-sizing: border-box; /* Ensure padding is included in the total width */
}

input[type="number"] {
    width: calc(20% - 10px); /* Adjust width to accommodate padding */
    margin-right: 2%;
    text-align: right;
}

button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #0056b3;
}

.condition-container {
    margin-top: 10px;
}

.condition-container div {
    margin-bottom: 5px;
}

.condition-container input[type="radio"] {
    margin-right: 8px;
    vertical-align: middle;
}

.inline-label {
    vertical-align: middle;
    display: inline-block;
}

.chart-container {
    margin-top: 20px;
    width: 100%;
    max-width: 1000px; /* Limit the chart width */
    height: 500px; /* Fixed height for the chart */
}
